<div class="container">
  <div class="profile-main">
    <div class="profile-container">
      <img src="assets\coverPic.png" alt="" width="100%" />
      <div class="profile-container-inner">
        <img src="assets\myPic.png" alt="" class="profile-pic" />
        <h1>Shahzaib Rehman</h1>
        <b>Angular Developer | Intern at Systems Limited</b>
        <p>
          Model Town , Lahore &middot; <a href=""></a
          ><strong>Contact info</strong>
        </p>
        <div class="connections">235 connections</div>
        <div class="mutual-connection">
          <img src="assets/myPic.png" alt="" />
          <span>1 mutual connection : Harris Siddiqui</span>
        </div>
        <div class="profile-btn">
          <a href="" class="connect-btn"
            ><img src="assets\connect.png" alt="" />Connect</a
          >
          <a href="" class="message-btn"
            ><img src="assets\message.png" alt="" />Message</a
          >
        </div>
      </div>
    </div>

    <div class="profile-description">
      <h2>About</h2>
      <p>
        Passionate front-end developer skilled in HTML, CSS, and JavaScript.
        Proficient in modern frameworks like Angular and React. Aesthetic
        sensibility combined with a focus on user experience. Experienced in
        responsive design and optimizing for performance. Continuous learner,
        always exploring new front-end technologies and design trends.
      </p>
      <a href="" class="see-more-link">See more...</a>
    </div>

    <div class="profile-description">
      <h2>Experience</h2>
      <div class="profile-desc-row">
        <img src="assets\Systems.png" alt="" />
        <div>
          <h3>Intern Front-End</h3>
          <b>Systems Limited</b>
          <b>Sep 2023 - Dec 2023 &middot; 3 months</b>
          <p>
            During my internship in front-end development, I gained valuable
            experience working with the Angular framework. I successfully
            implemented responsive and dynamic user interfaces, honing my skills
            in creating modular components and optimizing application
            performance for an enhanced user experience.
          </p>
        </div>
      </div>
    </div>

    <div class="profile-description">
      <h2>Education</h2>
      <div class="profile-desc-row">
        <img src="assets\ucp.jpg" alt="" />
        <div>
          <h3>University Of Central Punjab</h3>
          <b>Bs Computer Science</b>
          <b>2019 - 2023</b>
          <hr />
        </div>
      </div>
      <div class="profile-desc-row">
        <img src="assets\pgc.png" alt="" />
        <div>
          <h3>Punjab Group Of Colleges</h3>
          <b>Fsc pre-engineering</b>
          <b>2017 - 2019</b>
          <hr />
        </div>
      </div>

      <div class="profile-desc-row">
        <img src="assets\hamdard.png" alt="" />
        <div>
          <h3>Hamdard Public School</h3>
          <b>Matriculation</b>
          <b>2015 - 2017</b>
          <hr />
        </div>
      </div>
    </div>

    <div class="profile-description">
      <h2>Skills</h2>
      <a href="" class="skills-btn">Leadership</a>
      <a href="" class="skills-btn">Team Work</a>
      <a href="" class="skills-btn">Web Design</a>
      <a href="" class="skills-btn">Angular</a>
      <a href="" class="skills-btn">UI/UX</a>
      <a href="" class="skills-btn">JavaScript</a>
      <a href="" class="skills-btn">Planning</a>
      <a href="" class="skills-btn">Coding</a>
    </div>

    <div class="profile-description">
      <h2>Languages</h2>
      <a href="" class="language-btn">English</a>
      <a href="" class="language-btn">Urdu</a>
    </div>
  </div>

  <div class="profile-sidebar">
</div>
